:root{
	--mainColor:#15202B;
	--secondaryColor:#192734;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;


}

html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body *{
	transition: 0.3s;
}


h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
}

a{
	text-decoration: none;
	color:#17a2b8;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px; font-weight: 0.5em;}
h6 { font-size: 16px;}


.s1{
	background-color: var(--mainColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.s2{
	background-color: var(--secondaryColor);
	border-bottom:1px solid var(--borderColor);
	overflow:auto;
}

.main-container {
	width: 900px;
	margin: 0 auto;
}

.quote-wrapper {
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 7em;
}

.stat-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	grid-gap: 30px;
	min-height: 4em;
	padding-bottom: 15px;
	padding-top: 15px;
}

.left-column {
	display: grid;
	border: 2px solid var(--borderColor);
	text-align: center;
	
	
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	
}

.right-column {
	display: grid;
	border: 2px solid var(--borderColor);
	text-align: center;
	
	
	
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.below {
	display: grid;
	background-color: var(--secondaryColor);
	justify-content: center;
}

.above {
	display: grid;
	background-color: var(--mainColor);

}

#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 20px;
	padding-bottom:20px; 
	color: #fff;
	background-color: var(--buttonColor);
	border:none;
	border-radius: 5px;
}

.choose-time {
	margin-top: 15px;
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.set-time {
	display: grid;
	align-content: center;
	justify-content: center;
	grid-template-columns: 1fr 2fr;
}

.set-time label {

	align-self: center;
	text-align: center;
}


.set-time input {
	line-height: 2.7em;
	background-color: var(--secondaryColor);
	border: 1px solid var(--borderColor);
	text-align: center;
	font-size: 5em;
	font-weight: 5em;

}

.set-time-button {
  display: grid;
  justify-content: center;
  align-content: center;
  align-self: center;
  
}

.set-time-button input {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid var(--borderColor);
	background-color: var(--secondaryColor);
	font-size: 2em;
	border-radius: 5px;
	align-self: center;

}

#rest-time {
	width: 70%;
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 14px;
	padding-top: 5px;
	padding-bottom:5px; 
}


button {
	font-size: 2.5em;
    margin-top: 10px;
	margin-bottom: 10px;
}

i {
    color: red;
}

input {
	background-color: var(--mainColor);
}

@media screen and (max-width: 900px){
	.main-container{
		width: 95%;
	}
}


