:root{
	--mainColor:#15202B;
	--secondaryColor:#192734;

	--borderColor:#164D56;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;


}



html, body{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
	min-height: 100vh;
	
}




h1, h2, h3, h4, h5, h6, strong{
	color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}

p, li, span, label, input, textarea{
	color: var(--secondaryText);
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
}

a{
	text-decoration: none;
	color:#17a2b8;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px; font-weight: 0.5em;}
h6 { font-size: 16px;}


.s1{
	background-color: var(--mainColor);
	
	overflow:auto;
}

.s2{
	background-color: var(--secondaryColor);
	
	overflow:auto;
}

.main-container {
	width: 900px;
	margin: 0 auto;
}

.quote-wrapper {
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 1.2em;
}

.stat-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	grid-gap: 30px;
	
	padding-bottom: 15px;
	padding-top: 15px;
}

.left-column {
	display: grid;
	border: 1px solid var(--borderColor);
	text-align: center;
    border-radius: 5px;
	
	
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);

	
}

.right-column {
	display: grid;
	border: 1px solid var(--borderColor);
	text-align: center;
	
	 border-radius: 5px;
	
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.below {
	display: grid;
	background-color: var(--secondaryColor);
	justify-content: center;
	padding: 0;
	 border-radius:0 0 5px 5px;
}

.above {
	display: grid;
	background-color: var(--mainColor);
    padding: 0;
     border-radius: 5px 5px 0 0;
}

.choose-time-container {
	padding-bottom: 15px;
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	grid-gap: 10px; 
}







#rest-time {
	
	background-color: var(--mainColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 24px;
	text-align: center;
	padding-top: 5px;
	padding-bottom:5px; 
	 -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	cursor: pointer;
}

#fireButton {
	
	background-color: var(--mainColor);
	border-radius: 5px;
	border:1px solid var(--borderColor);
	font-size: 24px;
	text-align: center;
	padding-top: 5px;
	padding-bottom:5px; 
	 -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
	cursor: pointer;
}




#submit-btn{
	margin-top: 10px;
	width: 100%;
	padding-top: 15px;
	padding-bottom:15px; 
	color: #fff;
	background-color: var(--buttonColor);
	border:none;
	border-radius: 5px;
	cursor: pointer;
}

button {
	font-size: 2.5em;
    margin-top: 10px;
	margin-bottom: 10px;
}

i {
    color: #f2400a;
}

input {
	background-color: var(--mainColor);
}

.end {
	display: grid;
	align-self: flex-end;
}


@media screen and (max-width: 900px){
	.main-container{
		width: 95%;
	}
}


